// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// マイページ
.my-page-wrapper{
  width: 100%;
  margin: 0 auto;
}
.my-page-contents{
  display: flex;
  // margin-top: 2vh;
  border-top: 1px solid #E0DADA;
}
.profile-contents{
  img{
    margin-top: 5vh;
    align-items: center;
  }
  p{
    text-align: center;
    font-size: 12px;
    margin-top: 2vh;
  }
  a{
    text-decoration: none;
  }
}

.my-page-right{
  border-left: 1px solid #E0DADA;
  padding-left: 1vw;
  margin-left: 1vw;
  margin-top: 2vw;
  width: 80%;
  h5{
    margin-bottom: 3vh;
  }
}
.my-page-left{
  width: 400px;
}
.my-page-right-txt{
  display: flex;
  p{
    font-size: 13px;
    margin-left: auto;
  }
  a{
    text-decoration: none;
  }
}
.profile-contents img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 80px;  /* 縦横を同じ値にする */
  height: 80px;  /* 縦横を同じ値にする */
}
@media screen and (max-width: 992px) {
  .my-page-left{
  width: 100%;
  }
  .my-page-contents{
    display: block;
    border-top: none;
  }
  .my-page-right{
    border: none;
  }
  .my-page-right{
    margin-right:0;
    margin-left:0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  .my-page-right-txt{
    border-top: 1px solid #E0DADA;
    margin-top: 2vh;
    padding-top: 2vh;
  }
}


// editページ
.public-customer-edit-wrapper{
  width: 50%;
  margin: 0 auto;
  h5{
    margin-bottom: 3vh;
  }
  .btns {
  display: flex;
  }
  p{
  font-size: 12px;
  }
}
.customer-edit-form div{
  margin-bottom: 2vh;
}
@media screen and (max-width: 768px) {
  .public-customer-edit-wrapper{
    width: 80%;
    margin: 0 auto;
  }
}

// 退会ページ
.withdraw-wrapper{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  h6{
    font-size: 23px;
    margin-bottom: 2vh;
    margin-top: 5vh;
  }
  p{
    font-size: 18px;
  }
  .btns{
    margin-top: 4vh;
    font-size: 15px;
  }
  .btns a{
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border-radius: 50px;
    border: 1px solid gray;
    color: gray;
  }
  .btns a:hover{
    color: white;
    background-color: #73736C;
  }
}
.withdraw-btn{
  margin-left: 5vw;
}

