// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// マイページ
.my-page-wrapper{
  width: 90%;
  margin: 0 auto;
}
.profile-contents{
  width: 40%;
  margin: 0 auto;
  p{
    text-align: center;
  }
}
.profile-contents img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 80px;  /* 縦横を同じ値にする */
  height: 80px;  /* 縦横を同じ値にする */
}

// editページ
.public-customer-edit-wrapper{
  width: 50%;
  margin: 0 auto;
  h5{
    margin-bottom: 3vh;
  }
  .btns {
  display: flex;
  }
  p{
  font-size: 12px;
  }
}
.customer-edit-form div{
  margin-bottom: 2vh;
}
@media screen and (max-width: 768px) {
  .public-customer-edit-wrapper{
    width: 80%;
    margin: 0 auto;
  }
}

// 退会ページ
.withdraw-wrapper{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  h6{
    font-size: 23px;
    margin-bottom: 2vh;
    margin-top: 5vh;
  }
  p{
    font-size: 18px;
  }
  .btns{
    margin-top: 4vh;
    font-size: 15px;
  }
  .btns a{
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border-radius: 50px;
    border: 1px solid gray;
    color: gray;
  }
  .btns a:hover{
    color: white;
    background-color: #73736C;
  }
}
.withdraw-btn{
  margin-left: 5vw;
}