// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//トップページ
.top-wrapper{
  width: 80%;
  margin: 2% auto;
}
.top-contents{
  margin-top: 10vh;
}
.bottom-contents>div, .bottom-contents>p{
  margin-top: 4vh;
}
.bottom-contents>div>a{
  text-decoration:none;
  color: gray;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 7px;
}
.bottom-contents>div a:hover{
    color: white;
    background-color: #73736C;
}
.bottom-contents>p{
  font-size: 14px;
}
.bottom-contents>p> a{
  margin-top: 2vw;
  text-decoration:none;
  color: gray;
  border-bottom: dotted;
  border-color:#1C9149;
  border-width: 3px;
}
.bottom-contents>p a:hover{
  color:#79B39E;
}

// プライバシーポリシーページ
.privacy-wrapper{
  width: 60%;
  margin: 0 auto;
}
.privacy-text{
  font-size:12px;
  margin-top:3vh;
}

@media screen and (max-width:768px){
  .privacy-wrapper{
    width: 80%;
  }
}

// アバウトページ
.about-wrapper{
  width: 55%;
  margin: 0 auto;
}
.about-text{
  margin-top: 3vh;
  font-size:15px;
}
.level-icon-contents {
  ul{
    display:flex;
    margin-top:20px;
    flex-wrap:wrap;
  }
  li{
    list-style:none;
    margin:15px;
  }
  img{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  filter: drop-shadow(5px 5px 5px #aaa);
  }
  p{
    font-size:10px;
    text-align:center;
  }
}