// Place all the styles related to the public/routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.routine-contents{
  width: 80%;
  margin: 0 auto;
  p{
    font-size:12px;
  }
  h3{
    font-size:20px;
    border-top: 1px solid #E2E8E1;
    padding-top: 20px;
    margin-top: 20px;
  }
}
.routine-contents>h3:first-child{
  border-top:none;
  padding-top: 0;
  margin-top: 0;
}
.routine-content button{
  border: 2px solid #3BB82F;
  padding: 0px 4px;
  color: #3BB82F;
  margin-left: 1vw;
  background-color: white;
  border-radius: 20%;
}
.routine-content button:hover{
  border: 2px solid #43D136;
  color:#43D136;
}

.new-form-control{
  height: 2em;
  width: 500px;
  padding: 0 12px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom:10px;
}
.routine_image_form{
  margin-top:20px;
}

.short-text{
  height: 1.8em;
  width: 200px;
  padding: 0 12px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom:10px;
}
.short-text:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.after-btn{
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border: solid 1px gray;
  font-weight: bold;
  font-size: 11px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
  border-radius: 100px;
  color: gray;
  text-decoration: none;
  margin-left: 30px;
}
.after-btn:hover {
  border: solid 1px #E2E8E1;
  color: #E2E8E1;
}

.routine-btns{
  margin-top: 20px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.routine-contents>span {
  background:linear-gradient(transparent 60%, #ff6 60%);
}
// index
.routine-contents>table img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  filter: drop-shadow(5px 5px 5px #aaa);
}
.routine_target{
  text-align: left;
}



// ルーティン詳細画面
.routine-contents img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 90px;  /* 縦横を同じ値にする */
  height: 90px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  filter: drop-shadow(5px 5px 5px #aaa);
  }

  // 部分テンプレート
.nested-fields i{
  width: 100px;
  // font-family: inherit;
  // appearance: none;
  border: 0;
  // border-radius: 5px;
  // background: #4676d7;
  color: #4676d7;
  padding: 8px 8px;
  font-size: 1rem;
}