<div class="about-contents">
  <h3>■About</h3>
  <p class="about-text">日々の週間を続けるためのWebアプリケーションです。<br />
達成率によって、levelアップしアイコンが変化していきます。<br />
うまくモチベーションを上げながら一緒に目標を達成しましょう！</p>

  <div class="level-icon-contents">
    <ul>
      <li class="level-icon"><img src="/level_01.jpg"><p>LEVEL.1</p></li>
      <li class="level-icon"><img src="/level_02.jpg"><p>LEVEL.2</p></li>
      <li class="level-icon"><img src="/level_03.jpg"><p>LEVEL.3</p></li>
      <li class="level-icon"><img src="/level_04.jpg"><p>LEVEL.4</p></li>
      <li class="level-icon"><img src="/level_05.jpg"><p>LEVEL.5</p></li>
      <li class="level-icon"><img src="/level_06.jpg"><p>LEVEL.6</p></li>
      <li class="level-icon"><img src="/level_07.jpg"><p>LEVEL.7</p></li>
      <li class="level-icon"><img src="/level_08.jpg"><p>LEVEL.8</p></li>
      <li class="level-icon"><img src="/level_09.jpg"><p>LEVEL.9</p></li>
      <li class="level-icon"><img src="/level_10.jpg"><p>LEVEL.10</p></li>
    </ul>
  </div>
</div>