<div class="about-wrapper">
  <h4>■About</h4>
  <p class="about-text">日々の週間を続けるためのWebアプリケーションです。<br />達成率によって、レベルアップしアイコンが変化していきます。<br />うまくモチベーションを上げながら一緒に目標を達成しましょう！</p>
  <div class="level-icon-contents">
    <ul>
      <li class="level-icon"><img src="/level_1.jpg"><p>LEVEL.1</p></li>
      <li class="level-icon"><img src="/level_2.jpg"><p>LEVEL.2</p></li>
      <li class="level-icon"><img src="/level_3.jpg"><p>LEVEL.3</p></li>
      <li class="level-icon"><img src="/level_4.jpg"><p>LEVEL.4</p></li>
      <li class="level-icon"><img src="/level_5.jpg"><p>LEVEL.5</p></li>
      <li class="level-icon"><img src="/level_6.jpg"><p>LEVEL.6</p></li>
      <li class="level-icon"><img src="/level_7.jpg"><p>LEVEL.7</p></li>
      <li class="level-icon"><img src="/level_8.jpg"><p>LEVEL.8</p></li>
      <li class="level-icon"><img src="/level_9.jpg"><p>LEVEL.9</p></li>
      <li class="level-icon"><img src="/level_10.jpg"><p>LEVEL.10</p></li>
    </ul>
  </div>
</div>