<div class="thanks_wrapper">
    <h3>Special Thanx!!</h3>
    <h5>■Illustrater</h5>
    
    <div class="thanks_contents">
        <div class="thanks_content">
            <img src="/haleta.jpeg">
        </div>
        <div class="thanks_content2">
            <h4>
                Haleta
            <a href= "https://twitter.com/haleta38" target = "_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
            </h4>
            <p>
                ヘッダー・アイコンデザイン担当。<br />
            </p>
        </div>
    </div>
</div>