<div class="admin-customer-wrapper">
  <h5>■会員情報一覧</h5>

  <table class="admin-customer-contents">

    <tr>
      <td style="width: 40%" class="created_at_time"><p>登録日時</p></td>
      <td style="width: 30%"><p>ニックネーム</p></td>
      <td><p>ステータス</p></td>
    </tr>


    <% @customers.each do |customer| %>
    <tr>
      <td class="created_at_time"><p><%= l customer.created_at %></p></td>
      <td>
        <%= link_to admin_customer_path(customer.id) do %>
        <p><%= customer.nickname %></p>
        <% end %>
      </td>
      <%if customer.is_deleted %>
      <!--退会している場合-->
      <td class="text-secondary"><p>退会</p></td>
      <% else %>
      <td class="text-success"><p>有効</p></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>