// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// アドミン・会員一覧＆会員詳細画面共通
.admin-customer-wrapper{
  width: 80%;
  margin: 0 auto;
}

// アドミン・会員一覧画面
.admin-customer-contents{
  width: 100%;
  margin: 0 auto;
  p{
    font-size: 15px;
    text-align: center;
  }
  td{
    padding:1vw;
  }
}
@media screen and (max-width: 768px) {
  .admin-customer-contents{
  width: 100%;
  margin: 0 auto;
  }
}

//アドミン・会員詳細画面
.customer-top-content{
  display:flex;
  width: 60%;
  margin: 0 auto;
  p{
    font-size:16px;
  }
  .edit-btn {
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border-radius: 50px;
    border: 1px solid gray;
    color: gray;
    font-size: 12px;
  }
  .edit-btn:hover {
    color: white;
    background-color: #73736C;
  }
  .customer-info-left{
    margin-right: 3vw;
    p{
      text-align: center;
    }
    img{
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      width: 80px;  /* 縦横を同じ値にする */
      height: 80px;  /* 縦横を同じ値にする */
      margin-bottom: 1vh;
      }
  }
}
.customer-info-right{
  p{
    margin-bottom:2vh;
  }
  .active{
    color: #19D834;
  }
  .inactive{
    color: gray;
  }
}

// 編集画面
.admin-customer-edit-contents{
  width: 50%;
  margin: 0 auto;
}
.admin-customer-edit-contents .edit-label{
  font-size: 12px;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
}
  .radio_button_content{
    margin-left: 2vw;
  }
.admin-customer-edit-contents .btns{
    margin-top:3vh;
  }

