// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// トップ画面（会員一覧）
.customer-index-contents{
  width: 85%;
  margin: 0 auto;
}
table{
  border-spacing: 10px;
}
td, th {
  font-size: 15px;
  padding: 0.5em 1em;       /* 内側の余白量 */
  width: 20vw;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  a{
    text-decoration:none ;
    color: gray;
  }
}
tr{
  margin-top : 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E1E3E1;

}
.show-btn {
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border-radius: 50px;
  border: 1px solid gray;
  color: gray;

}
.show-btn:hover {
  color: white;
  background-color: #73736C;
}
.text-secondary{
  color: gray;
}
.text-success{
  color: #5DD97A;
}

@media screen and (max-width: 768px) {
  .customer-index-contents{
    width: 100%;
    margin: 0 auto;
  }
}