// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// トップ画面（会員一覧）



.item-content-title{
  font-size: 10px;
}
.routine-contents{
  width: 90%;
  margin: 0 auto;
  h5{
    margin-bottom: 3vh;
  }
}