// Place all the styles related to the routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my-routine-contents{
  width: 100%;
  margin: 0 auto;
}
.admin-routine-contents{
  width: 80%;
  margin: 0 auto;
  h5{
    margin-bottom: 3vh;
  }
}

.customer-top-content{
  display:flex;
  width: 60%;
  margin: 0 auto;
  p{
    font-size:16px;
  }
  .edit-btn:hover {
    color: white;
    background-color: #73736C;
  }
  .customer-info-left{
    margin-right: 3vw;
    p{
      text-align: center;
    }
    img{
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      width: 80px;  /* 縦横を同じ値にする */
      height: 80px;  /* 縦横を同じ値にする */
      margin-bottom: 1vh;
      }
  }
}

