/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap')*/
@font-face {
  font-family: 'Amatic SC';
  src: url("/Amatic_SC");
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  /*font-family: 'Amatic SC';*/
}
main{
  margin:5vw;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  width:100%;
  height: 10vh;
  margin-top: auto;
  /*background-image: url(/header_01.jpg);*/
  /*background-image: url(/header_02.jpg);*/
  /*background-image: url(/header_03.jpg);*/
  background-image: url(/header_04.jpg);
  /*background-image: url(/header_05.jpg);*/
  /*background-position: bottom;*/
}
body {
  background: #fafafa;
  font-size: 20px;
}

header {
  width: 100%;
  height: 10vh;
  /*background-image: url(/header_01.jpg);*/
  /*background-image: url(/header_02.jpg);*/
  /*background-image: url(/header_03.jpg);*/
  background-image: url(/header_04.jpg);
  /*background-image: url(/header_05.jpg);*/
  background-position: bottom;
  display: flex;
  margin:0 auto;
  padding: 0 10vw;
}
.nav_list {
  height: 10vh;
  display: flex;
  justify-content:flex-end;
  text-align:center;

}
.nav_item {
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin: auto 20px auto 0;
}
.nav_item a{
  text-decoration: none;
  color:gray;
}
.nav_item a:hover{
  color:#79B39E;
}

.nav_item:last-child{
  margin-right:0;
}
.logo {
  font-size: 24px;
  height: 10vh;
  text-align:center;
  line-height: 10vh;
  margin-right: auto;
}
.logo img{
  width:40px;
  position: relative;
  top:10px;
  margin-right:10px;
}
.under-line{
  text-decoration: none;
  color: #1C9149;
}
.under-line-logo{
  text-decoration: none;
  color: gray;
}
#drawer_input {
  display: none;
}

.nav_list_footer{
  display:flex;
  justify-content:flex-end;
  margin-right:50px;
  line-height: 10vh;
}
.nav_item_footer{
  margin-right:50px;
  list-style: none;
  font-size:30px;
}
.nav_item_footer a{
  text-decoration: none;
  color:gray;
}

/*ここからハンバーガーメニュー*/
@media screen and (max-width: 928px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #E1E8E4;
  }
  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  /* メニューのデザイン*/
  .nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(110, 110, 110, 0.8);
  transition: .5s;
  }
  .nav_list {
  list-style: none;
  display: block;
  }
  .nav_item{
  margin: auto 0;
  margin-bottom: 2vh;
  margin-top:2vh;
  }

  .nav_item a {
  color: #fff;
  text-decoration: none;
  }
  .nav_item:first-child{
  padding-top:75vh;
  }
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
  bottom: 75%;/* メニューを画面に入れる */
  }
}
/*新規登録画面*/
.form-control{
  height: 2.4em;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom:10px;
}
.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.new-customer-contents{
  width:60%;
  margin: 0 auto;
}
.new-customer-contents h3{
  margin-bottom:20px;
}
.form-wrapper{
  font-size:15px;
  width:100%;
}

.image_form {
  width: 1px;
  height: 1px;
  display: none;
  clip: rect(1px, 1px, 1px, 1px);
}

.image_input_btn{
  background-color: #79B39E;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border: solid 1px #79B39E;
  border-radius: 100px;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.image_btn{
  margin-top: 5px;
  margin-bottom: 20px;
}
.image_input_btn:hover {
  background-color: #97DEC4;
  border: solid 1px #97DEC4;
}
.bottom-text{
  margin-top:20px;
  font-size:13px;
}
.bottom-text a{
  text-decoration: none;
  color:gray;
}
.bottom-text a:hover{
  color:#79B39E;
}
@media screen and (max-width: 768px) {
  .new-customer-contents{
  width:90%;
  margin: 0 auto;
  }
}
/*フラッシュメッセージ*/

.flash-window {
  /*margin-bottom: 30px;*/
  font-size: 12px;
  /*padding:10px;*/
  opacity: 0.5;
  color: white;
  visibility: hidden;
}
.flash-notice {
  background-color: #3FD63D;
}
.flash-error {
  background-color: #CB0A00;
}

エラー
#error_explanation{
  background-color: #CB0A00;
  padding:10px;
  opacity: 0.5;
}
#error_explanation h2{
  color: white;
  font-size:15px;
}
#error_explanation ul{
  color: white;
  font-size: 12px;
  list-style: none;
}