/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap')*/


*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:'TsukuBRdGothic-Regular','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
main{
  margin:3vw 5vw 5vh 5vw;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
li{
  list-style: none;
}
footer{
  width:100%;
  height: 10vh;
  margin-top: auto;
  /*background-image: url(/header_01.jpg);*/
  /*background-image: url(/header_02.jpg);*/
  /*background-image: url(/header_03.jpg);*/
  background-image: url(/header_04.jpg);
  /*background-image: url(/header_05.jpg);*/
  /*background-position: bottom;*/
}
body {
  background: #fafafa;
  font-size: 20px;
  font-weight: 100;
}

header {
  width: 100%;
  height: 10vh;
  /*background-image: url(/header_01.jpg);*/
  /*background-image: url(/header_02.jpg);*/
  /*background-image: url(/header_03.jpg);*/
  background-image: url(/header_04.jpg);
  /*background-image: url(/header_05.jpg);*/
  background-position: bottom;
  display: flex;
  margin:0 auto;
  padding: 0 10vw;
  margin-bottom: 2vh
}
/*ヘッダーナビゲーション部分*/
.nav_list {
  height: 10vh;
  display: flex;
  justify-content:flex-end;
  text-align:center;
}
.nav_item {
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin: auto 20px auto 0;
}
.nav_item a{
  text-decoration: none;
  color:gray;
}
.nav_item a:hover{
  color:#79B39E;
}
.nav_item:last-child{
  margin-right:0;
}
.logo {
  font-size: 24px;
  height: 10vh;
  margin-right: auto;
}
.logo img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 60px;  /* 縦横を同じ値にする */
  height: 60px;  /* 縦横を同じ値にする */
  position: relative;
  top:30%;
}
.logo a{
  height: 10vh;
  text-decoration: none;
  color: gray;
  position: relative;
  bottom:20%;
}
/*フッターアイコン*/
.nav_list_footer{
  display:flex;
  justify-content:flex-end;
  margin-right:50px;
  line-height: 10vh;
}
.nav_item_footer a{
  text-decoration: none;
  color:gray;
}
.nav_item_footer{
  margin-right:50px;
  list-style: none;
  font-size:30px;
}

/*ここからハンバーガーメニュー*/
#drawer_input {
  display: none;
}
/*ハンバーガーメニューレスポンシブ*/
@media screen and (max-width: 928px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #E1E8E4;
  }
  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    width:10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 0;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  /* メニューのデザイン*/
  .nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(110, 110, 110, 0.8);
  transition: .5s;
  }
  .nav_list {
  list-style: none;
  display: block;
  }
  .nav_item{
  margin: auto 0;
  margin-bottom: 2vh;
  margin-top:2vh;
  }

  .nav_item a {
  color: #fff;
  text-decoration: none;
  }
  .nav_item:first-child{
  padding-top:30%;
  }
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
  bottom: 0%;/* メニューを画面に入れる */
  }
}


/*新規登録画面、ログイン画面共通*/
.form-wrapper{
  font-size:15px;
  width:100%;
}
.form-control{
  height: 2.4em;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom:10px;
}
.form-control3{
  height: 2.4em;
  width: 60%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.new-customer-contents{
  width:50%;
  margin: 0 auto;
}
.new-customer-contents h3{
  margin-bottom:20px;
}

.input_btn{
  background-color: #79B39E;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border: solid 1px #79B39E;
  border-radius: 100px;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.input_btn:hover {
  background-color: #97DEC4;
  border: solid 1px #97DEC4;
}
.bottom-text{
  margin-top:20px;
  font-size:13px;
}
.bottom-text a{
  text-decoration: none;
  color:gray;
}
.bottom-text a:hover{
  color:#79B39E;
}
@media screen and (max-width: 768px) {
  .new-customer-contents{
  width:90%;
  margin: 0 auto;
  }
  .form-control3{
  width: 100%;
  }
}
/*全体共通*/
  /*ボタン関連*/
.edit-btn, .update-btn{
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border: solid 1px gray;
  font-weight: bold;
  font-size: 11px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
  border-radius: 100px;
  color: gray;
  text-decoration: none;
}
.withdraw-btn{
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border: solid 1px red!important;
  font-weight: bold;
  font-size: 11px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
  border-radius: 100px;
  color: red!important;
  text-decoration: none;
  margin-left: 5vw;
}
.withdraw-btn:hover{
  background-color: #F9C9C0!important;
}
.prof-edit-btn{
  text-decoration: none;
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border-radius: 50px;
  border: 1px solid gray;
  color: gray;
  font-size: 12px;
  margin-right: 1vw;
  margin-left: 1vw;
}
.edit-btn {
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border-radius: 50px;
  border: 1px solid gray;
  color: gray;
  font-size: 12px;
}
.show-btn {
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
  border-radius: 50px;
  border: 1px solid gray;
  color: gray;
}
.edit-btn:hover ,.show-btn:hover{
  color: white;
  background-color: #73736C;
}
.update-btn{
  margin-right: 2vw;
}


  /*テキスト関連*/
.text-secondary{
  color: gray;
}
.text-success{
  color: #5DD97A;
}

/*ルーティンアイテムボックス共通*/
.item-contents_all{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3vh;
  margin-left: 3vw;
}
.item-contents, .item-contents2{
  width: 100%;
  margin: 0 auto;
}
.status_tag_routine{
  z-index: 98;
  position:relative;
  left: 70%;
  top: 30%;
}
.status_tag_routine .item-check{
  color: #19D834;
}
.status_tag_routine .item-lock{
  color: gray;
}
.item-contents, .item-contents2{
  width: 250px;
  height: 250px;
  background-image: url("/header_05.jpg");
  background-position: bottom;
  position: relative;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-around;
}
.item-old-contents{
  width: 250px;
  height: 250px;
  background-image: url("/header_03.jpg");
  background-position: bottom;
  position: relative;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-around;
}
.item-content{
  width: 249px;
  height: 180px;
  background-color: white;
  position:absolute;
  bottom: 0;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  padding: 1vw;
}
.item-contents2:hover{
  box-shadow: 0 10px 50px 0 rgba(100, 100, 100, .5);
}
.item-content img{
  position:absolute;
  bottom: 90%;
  right: 35%;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 80px;  /* 縦横を同じ値にする */
  height: 80px;  /* 縦横を同じ値にする */
}
.item-content ul{
  width: 200px;
}
.item-content li{
  list-style: none;
  font-size: 12px;
  text-align: left;
}
.item-content p{
  font-size:10px;
}
.item-content .time-list{
  border-top: 1px solid #E6DADF;
  padding-top:5px;
  margin-top:5px;
}
.item-contents_all a{
  text-decoration: none;
  color: black;
}
.profile_name{
  font-size: 10px;
  position:relative;
  left: 10%;
  top: 2%;
}
.profile_name_2{
  font-size: 10px;
  position:relative;
  left: 28%;
  top: 2%;
}
.create_at_tag{
  font-size: 10px;
  position:relative;
  left: 10%;
  top: 2%;
}
/*フラッシュメッセージ*/
.flash-window {
  font-size: 14px;
  width: 100%;
  padding-left: 5vw;
  font-weight: bold;
  magin-top: 2vh;
}
.flash-notice {
  color: #3DBA58;

}
.flash-error{
  color: red;
}
.flash-text li{
  font-size: 10px;
  font-weight: bold;
  color: red;
}
/*ページネーション*/
.pagenation-content{
  text-align: center;
}
/*一覧*/
.subtask_line{
  border-right: 1px solid gray;
  padding: 0 3px;
}
.subtask_line:last-child{
  border:none;
}
.subtask_line:first-child{
  padding-left: 0;
}
/*ページネーション*/
.pagenate_content{
  text-align:center;
  font-size: 10px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pagenate_content li{
  display: inline-block;
}
.active a{
  padding: 8px 10px;
  border-radius: 50%;
  background-color: #C8F4F5;
  color: gray;
  margin: 20px;
}
.waves-effect a{
  padding: 8px 10px;
  border-radius: 50%;
  background-color: #D4D6D8;
  color: gray;
  margin: 20px;
}
.waves-effect2 a{
  padding: 20px 10px;
  border-radius: 50%;
  color: gray;
  margin: 20px;
}

.last a, .first a{
  padding: 15px 10px;
  border-radius: 50%;
  background-color: #F5D7C1;
  color: gray;
  margin: 20px;
}
.material-icons{
  width: 20px;
  height: 15px;
}
.last a:hover, .first a:hover, .waves-effect2 a:hover, .waves-effect2 a:hover, .active a:hover{
   opacity: 0.5;
}
/*エラー関連*/
.alert_messages{
  font-size: 14px!important;
  color: red;
  font-weight: bold;
}
.alert_messages_li{
  font-size: 12px!important;
  color: red;
}